In [1]:
import pandas as pd
import pickle
country = {}
a_file = open("airport.pkl", "rb")
country = pickle.load(a_file)
a_file.close()
continents = {}
a_file = open("continents.pkl", "rb")
continents = pickle.load(a_file)
a_file.close()

In [2]:
flights = pd.read_csv('data/Registered Flights.csv', index_col = 'id')

D:\Programs\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
flights

,Nickname,First Name,Last Name,Sex,Date,Flight,Codeshare,Depart_City,Depart_Airport,Depart_Country,Arrival_City,Arrival_Airport,Arrival_Country
id,,,,,,,,,,,,,
0,FrequentFlyer0,NaN,NaN,Male,2017-03-04,DL3377,False,Boston MA,BOS,United States of,Pittsburgh PA,PIT,United States of
1,FrequentFlyer0,NaN,NaN,Male,2017-07-21,DL3630,False,Green Bay WI,GRB,United States of,Detroit MI,DTW,United States of
2,FrequentFlyer0,NaN,NaN,Male,2017-03-22,DL5361,False,Pittsburgh PA,PIT,United States of,New York NY,LGA,United States of
3,FrequentFlyer0,NaN,NaN,Male,2017-01-04,SU3702,True,Moscow,SVO,Russian Federation,Warsaw,WAW,Poland
4,FrequentFlyer0,NaN,NaN,Male,2017-08-08,DL3412,False,Fayetteville AR,XNA,United States of,Atlanta GA,ATL,United States of
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308982,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-15,DL3345,False,Washington,IAD,United States of,New York NY,JFK,United States of
1308983,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-08-12,SU2014,False,Moscow,SVO,Russian Federation,Prague,PRG,Czech Republic
1308984,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-29,DL2463,False,Atlanta GA,ATL,United States of,New York NY,LGA,United States of
1308985,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-06-02,SU1463,False,Novosibirsk,OVB,Russian Federation,Moscow,SVO,Russian Federation
1308986,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-07-05,KL6106,True,New York NY,JFK,United States of,Frankfurt,FRA,Germany

### Определяем страны прилета и вылета по коду аэропорта

In [4]:
flights['dep_country'] = [country.get(elem,'') for elem in flights.Depart_Airport.values]

In [5]:
flights['arr_country'] = [country.get(elem,'') for elem in flights.Arrival_Airport.values]

In [6]:
flights['dep_continent'] = [continents.get(elem,'') for elem in flights['dep_country'].values]

In [7]:
flights['arr_continent'] = [continents.get(elem,'') for elem in flights['arr_country'].values]

In [8]:
flights.drop(columns=['Depart_Country', 'Arrival_Country'], inplace=True)

### Добавляем колонку, где совмещены имя и фамилия

In [9]:
flights['name'] = flights['Last Name'] + ' ' + flights['First Name']

In [10]:
flights

,Nickname,First Name,Last Name,Sex,Date,Flight,Codeshare,Depart_City,Depart_Airport,Arrival_City,Arrival_Airport,dep_country,arr_country,dep_continent,arr_continent,name
id,,,,,,,,,,,,,,,,
0,FrequentFlyer0,NaN,NaN,Male,2017-03-04,DL3377,False,Boston MA,BOS,Pittsburgh PA,PIT,USA,USA,North America,North America,NaN
1,FrequentFlyer0,NaN,NaN,Male,2017-07-21,DL3630,False,Green Bay WI,GRB,Detroit MI,DTW,USA,USA,North America,North America,NaN
2,FrequentFlyer0,NaN,NaN,Male,2017-03-22,DL5361,False,Pittsburgh PA,PIT,New York NY,LGA,USA,USA,North America,North America,NaN
3,FrequentFlyer0,NaN,NaN,Male,2017-01-04,SU3702,True,Moscow,SVO,Warsaw,WAW,Russia,Poland,Europe,Europe,NaN
4,FrequentFlyer0,NaN,NaN,Male,2017-08-08,DL3412,False,Fayetteville AR,XNA,Atlanta GA,ATL,USA,USA,North America,North America,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308982,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-15,DL3345,False,Washington,IAD,New York NY,JFK,USA,USA,North America,North America,ISAEV AYDAR
1308983,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-08-12,SU2014,False,Moscow,SVO,Prague,PRG,Russia,Czech Republic,Europe,Europe,ISAEV AYDAR
1308984,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-29,DL2463,False,Atlanta GA,ATL,New York NY,LGA,USA,USA,North America,North America,ISAEV AYDAR
1308985,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-06-02,SU1463,False,Novosibirsk,OVB,Moscow,SVO,Russia,Russia,Europe,Europe,ISAEV AYDAR
1308986,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-07-05,KL6106,True,New York NY,JFK,Frankfurt,FRA,USA,Germany,North America,Europe,ISAEV AYDAR

### Для перевода имени колонок к удобному виду

In [11]:
import re
def camel_to_snake(name):
  name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
  return re.sub('([a-z0-9])([A-Z])', r'\1_\2', name).lower()

In [12]:
new_cols = {i:camel_to_snake(i) for i in flights.columns}
flights.rename(columns=new_cols, inplace=True)

### Считаем все: not_ok, между народные, ненормальные международные и кроссконтинентальные

In [13]:
def count_not_normal_flights(dataframe):
    prev_air = ''
    not_ok = 0
    cross_country = 0
    cross_not_ok = 0
    long = 0
    for elem in dataframe.values:
        from_air = elem[0]
        to_air = elem[1]
        from_coun = elem[2]
        to_coun = elem[3]
        from_con = elem[4]
        to_con = elem[5]
        if pd.isna(from_air):
            continue
        if pd.isna(to_air):
            prev_air = ''
            continue
        if prev_air != '' and from_air.lower() != prev_air.lower():
            not_ok += 1
            if from_coun != '' and to_coun != '':
                if from_coun.lower() != to_coun.lower():
                    cross_not_ok += 1
        prev_air = to_air
        if from_coun != '' and to_coun != '':
            if from_coun.lower() != to_coun.lower():
                cross_country += 1
        if from_con != '' and to_con != '':
            if from_con.lower() != to_con.lower():
                long += 1
    return not_ok, cross_country, cross_not_ok, long

### Создаем таблицу для записи данных

In [14]:
not_normal_flights = pd.DataFrame(columns=['nickname', 'name', 'flights', 'not_ok_flights', 'cross_country', 'cross_country_not_ok', 'long_flights'])

66592

In [18]:
value = 5000
unique_names = flights.nickname.unique()
for i in range (len(unique_names)):
    nickname = unique_names[i]
    sub_df = flights[flights['nickname'] == nickname].sort_values(by='date').reset_index(drop=True)
    name = sub_df['name'][0]
    sub_df_1 = sub_df[['depart__airport', 'arrival__airport', 'dep_country', 'arr_country', 'dep_continent', 'arr_continent']]
    count_flights = len(sub_df)
    not_ok, cross_country, cross_not_ok, long = count_not_normal_flights(sub_df_1)
    not_normal_flights.loc[i] = [nickname] +[name] + [count_flights] + [not_ok] + [cross_country] + [cross_not_ok] + [long]
    if i == value:
        print(i)
        value += 5000

5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000

In [19]:
not_normal_flights

,nickname,name,flights,not_ok_flights,cross_country,cross_country_not_ok,long_flights
0,FrequentFlyer0,NaN,22,0,3,0,1
1,FrequentFlyer2,ZYKOV NAZAR,20,0,11,0,1
2,FrequentFlyer4,NaN,18,0,10,0,2
3,FrequentFlyer5,NaN,22,0,9,0,0
4,FrequentFlyer6,D'YAKOV RUSLAN,21,0,12,0,5
...,...,...,...,...,...,...,...
66587,FrequentFlyer99992,NaN,13,0,7,0,2
66588,FrequentFlyer99993,NaN,25,0,6,0,2
66589,FrequentFlyer99995,BONDAREVA STEFANIYA,24,0,7,0,2
66590,FrequentFlyer99996,NaN,16,0,10,0,3
66591,FrequentFlyer99999,ISAEV AYDAR,20,0,9,0,3

### Вычисляем процент подозрительных рейсов и процент международных рейсов

In [20]:
not_normal_flights['percent_not_ok'] = [elem[3] / elem[2] for elem in not_normal_flights.values]

In [21]:
not_normal_flights['percent_cross'] = [elem[4] / elem[2] for elem in not_normal_flights.values]

In [22]:
not_normal_flights.to_csv('data/Ready/not_norm_flights_1.csv', index_label='id')